body {
    color: black;
    background-color: rgb(129, 195, 194);
    font-family: sans-serif;
}

.button #onClick {
    display: block;
    background-color: rgb(72, 144, 174);
    size: 40px;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: rgb(72, 170, 197);
    
    
}

#form {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

nav > input {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}